@media screen and (min-width: 360px) and (max-width: 479px)
{
    main { width: 90%; }
    #locate .icone-emplacement { width: 20%;
                                 text-align: right; }
    #locate p { width: 80%;
                text-align: center; }
    #select { height: 200px; }
    #select h2, p { margin: auto; }
    #select h2 { font-size: 14px; }
    #select p { width: 60%; 
                font-size: 10px; }
    .btn { width: 160px; 
           font-size: 12px; 
           margin-top: 12px; }
    #function h4 { width: 40%; 
                   font-size: 12px;
                   text-align: center; }
    #function .number { width: 10%; 
                        text-align: center;
                        border-radius: 55%; }
    #restos img { object-position: bottom; }
    #restos .new { right: -15px; }
    #restos h3 { font-size: 14px; }
    #restos p { font-size: 12px; }
    #restos .fa-heart { font-size: 14px; 
                        left: 120px; 
                        bottom: 22px; }
    footer div, p { font-size: 14px; }
    footer { text-align: center;
             width: 90%; }
    article { flex-wrap: nowrap; 
              font-size: 12px;
              object-fit: contain; }
    article #rest-legend { height: 40px; 
                           margin-top: -40px; }
    article h1 { margin-left: 20px;}
    article #menu { row-gap: 0; 
                    margin-top: 20px; }
    article .menu-choice { max-width: 70%;}
                h3 { text-align: justify; }
    article #entrees, article #plats, article #desserts { margin: auto;
                                                          min-width: 80%; }
    article .btn { width: 140px; }
    .btn-menu { width: 80%; }
        p { white-space: normal; } 
        span { text-align: right;
               margin-right: 6px; }    
    .btn-menu:hover span { transform: translateX(-36px); }  
    .btn-menu:hover .fa-check-circle { transform: rotateX(-360deg) translateX(-14px); }    
}

@media screen and (min-width: 410px) and (max-width: 413px)
{
    .btn-menu:hover span { transform: translateX(-44px); }
}

@media screen and (min-width: 768px) 
{
    h2 { text-align: center; }
    #function { height: 140px; 
                font-size: 14px;
                margin: auto;
                display: grid;
                column-gap: 20px;
                grid-template-columns: repeat(3, 31%); }
    #function .choice { width: 80%; 
                        height: 40%; }
    #function .number { width: 12%;
                        right: 6px; }
    #function i { margin-left: 10px;
                  margin-right: 10px; }
    #function h4 { text-align: center;
                   padding-left: 0; }
    #restos { display: grid; 
              grid-template-columns: 50% 50%;
              grid-template-rows: 16% 42% 42%; }
    #restos #img-lne { object-position: 0 -150px; }
    #restos h2 { grid-area: 1 / 1 / 2 / 3; 
                 width: 100%;
                 text-align: center; }
    #restos div h3 { padding-top: 10px; }
    #restos .new { right: -180px; }
    #restos .fa-heart { left: 230px; }
    #restos .hoverheart { left: 201px; }
    footer { text-align: center; }
    article #plats, article #desserts { display: grid; 
                                        grid-template-columns: repeat(3, 1fr); 
                                        grid-template-rows: repeat(2, 1fr); }
    article #img-lne { object-position: 0px -360px; }
    article #entrees { display: grid;
                       grid-template-columns: repeat(2, 1fr);
                       grid-template-rows: repeat(3, 1fr);
                       row-gap: 10px; }
    article h1 { text-align: left; }
    article .fa-heart { font-size: 24px; }
    article #entrees .menu-choice { grid-area: 1 / 1 / 2 / 3; }
    article #plats .menu-choice, article #desserts .menu-choice { grid-area: 1 / 1 / 2 / 4; }
                h3 { margin: auto; }
    .btn-menu { width: 90%; 
                margin: auto; }
    .btn-menu span { padding-left: 8px; }
    .btn-menu:hover span { z-index: 2; 
                           transform: translateX(-36px); }
    .btn-menu:hover p { z-index: 1; 
                        opacity: 0.2;
                        overflow: hidden; }
    .btn-menu:hover .fa-check-circle { transform: rotateX(-360deg) translateX(-12px); }
    .btn { margin-top: 40px; }
}

@media screen and (width: 1024px) 
{   
    #function .number { width: 8%;
                        right: 9px; }
    #restos .new { right: -370px; }
    #restos .fa-heart { left: 390px; }
    #restos .hoverheart { left: 361px; }
    #restos img { object-position: 0 -110px; }
    #restos #lne-img { object-position: 0 -235px; }
    article #menu { width: 96%;
                    margin: auto; } 
    article #entrees, article #plats, article #desserts { display: grid; 
                                                          width: 100%;
                                                          grid-template-columns: repeat(3, 1fr); 
                                                          grid-template-rows: repeat(2, 1fr); }
    article #cmd { justify-content: center; 
                   margin-top: 50px; }
    .btn-menu { margin: auto; }
    .btn-menu:hover span { transform: translateX(-46px); }
    .btn-menu:hover .fa-check-circle { transform: rotateX(-360deg) translateX(-8px); }
    .btn-menu:hover p { opacity: 0.2; }
    footer #user-contact { grid-template-columns: 6% 50%; }
}