@media screen and (min-width: 361px) and (max-width: 376px)
{
    #locate .icone-emplacement { width: 30%;
                                 text-align: right; }
    #locate p { width: 30%;
                text-align: center; }
    #select { grid-template-rows: 30% 30% 40%; }
    #select p { margin: auto; }
    #select h2 { font-size: 24px; }
    #restos img { object-position: 0; }
    #restos #lne-img { object-position: 0; }
    #restos .fa-heart { left: 250px; 
                        bottom: 40px; }
    #restos .hoverheart { left: 201px; }
    article { flex-wrap: nowrap; 
              object-fit: contain; }
    article #entrees .menu-choice { margin-top: 14px; }
    article .fa-heart { margin-left: 20px; }
    article h1 { margin-left: 20px; }
    article #cmd { padding-top: 20px; }
    article #menu { margin-top: 20px; }
                h3 { text-align: justify; }
    .btn-menu:hover .fa-check-circle { transform: rotateX(-360deg) translateX(-16px); }
    footer h2 { margin: 20px 0 0 20px; } 
    footer #partner + p { margin: 0 0 0 20px; } 
    footer p:nth-last-child(1) { margin: 0 0 30px 20px; }
}

@media screen and (width: 360px)
{
    #restos img { object-position: 0; }
    #restos #lne-img { object-position: 0; }
    #restos .fa-heart { left: 250px; 
                        bottom: 40px; }
    #restos .hoverheart { left: 221px; }
    article #rest-legend { padding-top: 0px; }  
    article #entrees .menu-choice { margin-top: 14px; }
    article #cmd { padding-top: 20px; }
    .btn-menu:hover .fa-check-circle { transform: rotateX(-360deg) translateX(-14px); }
    footer #partner +p { margin: 0 0 0 20px; }
    footer h2 { margin: 20px 0 0 20px; }
    footer p:nth-last-child(1) { margin: 0 0 30px 20px; }
}

@media screen and (min-width: 411px) and (max-width: 412px)
{
    article .fa-heart { margin-left: 42px; }
    article #menu { margin-top: 20px; }
    article #desserts .menu-choice { margin-top: 20px; }
    .btn-menu:hover .fa-check-circle { transform: rotateX(-360deg) translateX(-20px); }
    #restos img { object-position: 0; }
    #restos .fa-heart { left: 260px; 
                        bottom: 40px; }
    #restos .hoverheart { left: 189px; }
}

@media screen and (min-width: 768px) 
{
    h2 { text-align: center; }
    #function { height: 140px; 
                font-size: 14px;
                margin: auto;
                display: grid;
                column-gap: 20px;
                grid-template-columns: repeat(3, 31%); }
    #function .choice { width: 80%; 
                        height: 40%; }
    #function .number { width: 10%;
                        right: 6px; }
    #function i { margin-left: 10px;
                  margin-right: 10px; }
    #function h4 { text-align: center;
                   padding-left: 0; }
    .btn { width: 460px;}
    #restos { display: grid; 
              grid-template-columns: 50% 50%;
              grid-template-rows: 16% 42% 42%; }
    #restos article:nth-child(3) { grid-template-areas: 3 / 1 / 4 / 2; }
    #restos img { object-position: 0 -50px; }
    #restos #img-lne { object-position: 0 -150px; }
    #restos h2 { grid-area: 1 / 1 / 2 / 3; 
                 width: 100%;
                 text-align: center; }
    #restos .fa-heart { left: 290px; }
    #restos .hoverheart { left: 261px; }
    footer #user-contact { grid-template-columns: 6% 60%; }
        #user-contact h2 { text-align: justify;
                           margin-left: 20px; }
        .fa-utensils, .fa-hands-helping { text-align: left; }
    footer #partner + p { margin-left: 20px; }
    footer p:nth-last-child(1) { margin-left: 20px; }
    article #entrees, article #plats, article #desserts { width: 90%;
                                                          margin: auto; }
    article h1 { margin-left: 60px; }
    article #entrees .menu-choice { margin-top: 14px; }
    article .menu-choice { grid-area: 1 / 1 / 2 / 4; }
    article .menu-choice h3 { margin-left: 20px; }
    .btn-menu { grid-template-columns: 88% 12%; }
    .btn-menu span { padding-left: 8px; }
    .btn-menu:hover span { z-index: 2; 
                           transform: translateX(-50px); }
    .btn-menu:hover p { z-index: 1; 
                        overflow: hidden; }
    .btn-menu:hover .fa-check-circle { transform: rotateX(-360deg) translateX(-28px); }
}

@media screen and (width: 1024px) 
{   
    #function .number { width: 8%;
                        right: 9px; }
    #restos .new { right: -370px; }
    #restos .fa-heart { left: 390px; }
    #restos .hoverheart { left: 361px; }
    #restos img { object-position: 0 -110px; }
    #restos #lne-img { object-position: 0 -235px; }
    article h1 { margin-left: 30px; }
    article #menu { width: 96%;
                    grid-template-rows: 48% 22% 22%;
                    margin: auto; } 
    article .menu-choice h3 { margin-left: 6px; }
    article #entrees { display: grid; 
                       width: 100%;
                       grid-template-columns: repeat(3, 1fr);
                       grid-template-rows: 1fr 1.4fr 1.4fr; }
    article #plats, article #desserts { display: grid; 
                                        width: 100%;
                                        grid-template-columns: repeat(3, 1fr); 
                                        grid-template-rows: repeat(2, 1fr); }
    article #cmd { justify-content: center; 
                   margin-top: 50px; }
    .btn-menu { margin: auto; }
    .btn-menu:hover span { transform: translateX(-46px); }
    .btn-menu:hover .fa-check-circle { transform: rotateX(-360deg) translateX(-8px); }
    .btn-menu:hover p { opacity: 0.2; }
    footer #user-contact { grid-template-columns: 4% 50%; }
}